Package: com.Bunss.igamegodadfree
Name: iGameGod-AdFree
Depends: mobilesubstrate (>= 0.9.5000) | ellekit, firmware (>= 14.0)
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Blocks ads in iGameGod version 0.6.7 only. Not affiliated with iOSGods.
Maintainer: Buns <fazebunss@gmail.com>
Author: Buns <fazebunss@gmail.com>
Section: Tweaks
Depiction: https://fazebuns.github.io/igamegod-adfree
